/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/

body{
    background-color: #ddd;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Cutive Mono', monospace;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 a{
    text-decoration: none;
    color: #f1f1f1;
}

/*Barra de busqueda*/

.header{
    background-color: rgb(63, 189, 189);
}
.caja-contenedora img{
    width: 70px;
    height: 70px;
    position: relative;
    left: 27px;
    top: -2px;
    border-radius: 50%;
}
.titulo{
    text-decoration: none;
    color:white;
    margin-top: 15px;
    
}
.caja-contenedora{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    padding: 10px;
  
}
.input-buscar{
    padding: 10px;
    width: 450px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px  rgb(41, 40, 40);
    outline: none;
    border:none;
}




/*Todo esto es de lmenu desplegable dropdwn*/
.dropdown-btn {
   
    background-color: rgb(63, 189, 195);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(77, 75, 102);
    
}
.dropdown-btn:hover{
    color: rgb(240, 235, 235);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    /*bottom: -178px;*/
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2) ;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-btn {
    background-color: 3e8e41 ;
}

.dropdown.dropdown:hover .dropdown-content {
    display: block;
}/*Aqui finaliza el menu desplegable*/

.inicio-sesion-btn {
    background-color: rgb(63, 189, 195);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(77, 75, 102);
}
.inicio-sesion-btn:hover{
    color: rgb(240, 235, 235);
}

.registrate-btn{
    background-color: rgb(63, 189, 195);
    color: white;
    padding: 16px;
    font-size:16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(77, 75, 102);
}
.registrate-btn:hover{
    color: rgb(240, 235, 235);
}

.inicio-btn{
    background-color: rgb(63, 189, 195);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(77, 75, 102);
}
.inicio-btn:hover{
    color: rgb(240, 235, 235);
}
/*:::::Pie de Pagina*/
.box1{
    display: flex;
    flex-direction: column;
}
.box1 a{
    width: 100px;
}
.pie-pagina{
    width: 100%;
    margin-top: 50vh;
    background-color: #29343d;
    display: flex;
    flex-direction: column;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;

}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
    border-radius: 50%;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box a{
    color: #efefef;
    margin-bottom: 10px;
    text-decoration: none;
    display: inline-block;

    transition: 0.5s;
}

.pie-pagina .grupo-1 .box a:hover{
    color: aqua;
    
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(36, 28, 28);
    margin-right: 10px;
    background-color: #1778da;
    text-align: center;
    transition: all 300ms ease;
    
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-1 .red-social {
    padding-left:100px;
}

.siguenos{
    padding-left: 150px;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}/* aqui termina*/

/*login iniciar sesion*/

.login-box {
    width: 320px;
    height: 420px;
    background: lightcyan;
    color: black;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing:border-box;
    padding: 70px 30px;

}
.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],.login-box input[type="password"]{

    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background:dodgerblue;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: black;

}
.login-box a:hover{
    color:cornflowerblue
}
/*Formulario de contacto*/
.caja-contacto{
    background-color: #fff;
    padding: 12px 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 15px 10px 10px rgb(0, 0,0,0.1);
    width: 80%;
    margin: auto;
    margin-top: 80px;

}

.caja-contacto input[ type=text ]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.caja-contacto input[type=submit]{
    width: 100%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.caja-contacto textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/*Detalles de formulario de reclamos*/
.caja-reclamos{
    background-color: rgba(230, 224, 224, 0.199);
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0,0,0.1);
    overflow: auto;
    
}
.caja-reclamos input{
    width: 100%;
    margin-bottom: 20px;
}

.caja-reclamos select{
    background-color: dodgerblue;
    color: white;
}

.caja-reclamos input[type="text"],.caja-reclamos input[type="password"], .caja-reclamos input[type=email]{

    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.caja-reclamos textarea{
    display: block;
}

/*caja tipo login de registro. se puede modificar mas adelante*/
.registro-box {
    width: 320px;
    height: 420px;
    background: lightcyan;
    color: black;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing:border-box;
    padding: 70px 30px;
}

.registro-box .avatar2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.registro-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}

.registro-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}
.registro-box input{
    width: 100%;
    margin-bottom: 20px;
}

.registro-box input[type="text"],.registro-box input[type="password"]{

    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.registro-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background:dodgerblue;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.grid-creadores{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 15px;
    padding: 10px;
    box-shadow: 5px 1px 15px #000;
}

.grid-creadores img:hover{
    transform: scale(1.08,1.08);
    transition: .5s;
}
.grid-creadores img{
    width: 50%;
    border-radius: 50%;
    border: 3px solid #000;
    object-position: center;
}
.grid-creadores a{ 
    font-size: 25px;
    margin: 10px;
    
}
.grid-creadores a .ins{
    background: linear-gradient(red, #c9c904);
    -webkit-background-clip: text;
    color: transparent;  
}

.grid-creadores a .ins:hover{
    box-shadow: 2px 2px 2px rgb(156, 154, 154);
}

.grid-creadores a .mail{
    background: linear-gradient(#aaa, #dd0);
    -webkit-background-clip: text;
    color: transparent;
}
.grid-creadores a .mail:hover{
    box-shadow: 2px 2px 2px rgb(156, 154, 154);
}

.diego{
    border-right: 2px solid rgb(65, 64, 64);
}

.content-index-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    margin: 15px;
    padding: 10px;
    box-shadow: 5px 1px 15px #000;
}

